.deneme {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .deneme h1 {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin: 10px 0;
    color: #333;
  }
  .deneme h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin: 10px 0;
    color: rgb(249, 1, 1);
  }
  
  .deneme img {
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0;
  }
  .deneme button:hover {
   
    background-color: rgb(34, 20, 183);
    color: rgb(238, 235, 235);
  }
  
  .deneme button {
    background-color: blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
  }
  
  
